[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sklearn = "*"
tensorflow = "*"
opencv-python = "*"
jupyter = "*"

[requires]
python_version = "3.6"
